[submodule "kcp"]
	path = kcp
	url = https://github.com/skywind3000/kcp
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua
[submodule "llhttp"]
	path = llhttp
	url = https://github.com/nodejs/llhttp.git
[submodule "wepoll"]
	path = wepoll
	url = https://github.com/piscisaureus/wepoll
